{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <div class="container-fluid shadow-lg">
        {{ component('BookSearch') }}
    </div>

{% endblock %}
