<div {{ attributes }} class="m-4">
    <label for="input">Rechercher</label>
    <input class="border-2"
            type="search"
            data-model="search"
            name="input"
    >

    <ul>
        {% for book in this.data %}
        <div class="mx-auto mt-10">
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="p-6">
                    <h2 class="text-2xl font-bold mb-2 text-blue-500">{{ book.document.name }}</h2>
                    <p class="text-gray-700 mb-2">Nom de l'auteur: <span class="font-semibold">{{book.document.author}}</span></p>
                    <p class="text-gray-700">Publisher: <span class="font-semibold">{{ book.document.publisher }}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>